.clock-page--arial-black {
    --split-flap-dimensionless-line-height: 0.85;
    font-family: 'Arial Black', sans-serif;
    font-weight: 900;
}
.clock-page--arial-black .viewmaster--date {
    font-size: 6vw;
}
.clock-page--arial-black .viewmaster--time {
    font-size: 18vw;
}
